@import "global";

.container {
  box-sizing: border-box;
  padding: 5em;
  width: 100%;
  display: flex;
  height: 72rem;
  min-height: 64rem;

  &:not(:last-of-type) {
    margin-bottom: 5em;
  }
  @include respondMax(md){
    flex-direction: column;
    padding: 2em;
  }
}

.headline {
  will-change: filter;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  cursor: pointer;
  filter: grayscale(0.2);

  transition: filter 0.1s ease-in;

  &:hover {
    filter: grayscale(0);
  }

  h2 {
    text-align: center;
    margin-bottom: 1em;
    color: $clr-neutral-8;
    font-size: 3.6rem;
    max-width: 64rem;
    @include respondMax(md){
      font-size: 1.2em;
    }
  }
}

.imageContainer {
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 2rem;

  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba($color: $clr-neutral-3, $alpha: 0.5) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border-radius: 2rem;

  z-index: -1;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 3em;
  padding: 3em;
  border-left: 0.1rem solid $clr-neutral-3;
  @include respondMax(sm){
    margin-left: 0;
  }
}

.text {
  width: 100%;
  box-sizing: border-box;
  color: $clr-neutral-4;
  height: 100%;
  overflow: hidden;
  line-height: 1.6em;
  @include respondMax(xs){
    font-size: 0.9em;
  }
}

.date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2em;
  text-align: center;
  box-sizing: border-box;
  color: $clr-neutral-8;

  span {
    &:not(:last-of-type) {
      margin-right: 3em;
      @include respondMax(xs){
        margin-right: 0.5em;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  color: $clr-primary;
  text-decoration: none;
}