@import "global";

.container {
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  margin: 1em auto;

  border-top: 0.4rem solid rgba(0, 0, 0, 0.16);
  border-right: 0.4rem solid rgba(0, 0, 0, 0.16);
  border-bottom: 0.4rem solid rgba(0, 0, 0, 0.16);
  border-left: 0.4rem solid $clr-primary;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 0.8s infinite linear;
  animation: loader 0.8s infinite linear;

  &::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
