@import "global";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: $navbarHeight;
  position: relative;
}

.withBackground {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  user-select: none;
}

.heading {
  padding: 1em;
}
.rectangleRight {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 10%
}
.star {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.circle {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 20%;
}