@import 'global';

.embla {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .emblaViewport {
    overflow: hidden;
    width: 100%;
  }
  
  .emblaViewport .is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .emblaViewport.is-dragging {
    cursor: grabbing;
  }
  
  .emblaContainer {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .emblaSlide {
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }
  
  .emblaSlideInner {
    position: relative;
    overflow: hidden;
    height: 190px;
  }
  
  .emblaSlideImg {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .emblaThumb {
    padding-top: 0;
    margin-top: -12px;
  }
  
  .emblaContainerThumb {
    cursor: default;
    margin-left: -8px;
  }
  
  .emblaSlideThumb {
    padding-left: 8px;
    min-width: 20%;
  }
  
  .emblaSlideInnerThumb {
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .emblaSlideThumbnail {
    position: absolute;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: -10000%;
    right: -10000%;
    margin: auto;
    min-width: 1000%;
    min-height: 1000%;
    max-width: none;
    transform: scale(0.1);
    transition: opacity 0.2s;
  }
  
  .emblaSlideThumb.is-selected .emblaSlideThumbnail {
    opacity: 1;
  }
  .image {
      position: relative;
      width: 100rem;
      height: 80rem;
  }