@import "global";

.container {
  display: none;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  padding: 0;

  color: $clr-neutral-2;

  cursor: pointer;

  @include respondMax(md) {
    display: flex;
  }
}
