@import "global";

.container {
  width: 100%;
  max-width: has(lg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: #{$navbarHeight * 2} 0;
}

.cart {
  width: 100%;
  max-width: has(lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $navbarHeight;
}

.cartTitle {
  font-size: 3.6rem;
  font-weight: 800;
}

.cartHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $navbarHeight;
  margin-bottom: 2em;
}

.cartHeaderPrice {
  width: max-content;
  background-color: rgba($color: #000000, $alpha: 0.05);
  border-radius: 1rem;
  display: flex;
  align-items: center;

  span {
    &:first-of-type {
      background-color: $clr-neutral-3;
      color: $clr-neutral-8;
      padding: 1em 2em;
      border-radius: 1rem;
    }

    &:last-of-type {
      padding: 1em 2em;
      font-weight: 800;
    }
  }
}

.cartBody {
  background-color: rgba($color: #000000, $alpha: 0.05);
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.submitButton {
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1.6rem;
  padding: 1em 2em;
  border-radius: 1rem;

  color: $clr-neutral-3;
  background-color: $clr-neutral-8;
  border: none;

  box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);

  &:hover {
    box-shadow: 0 0.1rem 0.5rem rgba($color: #000000, $alpha: 0.2);
    transform: translateY(-0.2em);
  }

  &:active {
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
    transform: translateY(0);
  }
}
