@import 'global';

.container {
    margin-top: $navbarHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.innerContainer {
    max-width: has(md);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 1em 0;;
    }
}
.featuredVideo {
    width: 100%;
    height: 50rem;
    margin: 1em 0;
}
.videoList {
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
}
.video {
    width: 100%;
    height: 25rem;
    margin: 1rem 0;
    &:not(:last-of-type) {
        margin-right: 2rem;
    }
    h3, p {
        margin-top: 1rem;
    }
}
.title {
    padding: 0.5rem;
}
.description {
    display: flex;
    justify-content: space-between;
}
